@use "Base";

.chart-area{
  @include Base.flex_div();

  &__module{
    @include Base.flex_div(column);

    flex:1;
    min-width: 360px;
    margin: 1em;
    border-radius: 4px;

    background: white;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);

    &:hover{
        box-shadow: 0 0 10px 5px rgba(0,0,0,0.4);
        cursor: pointer;
    }

    &__chart{
      position: relative;
      height: 36vh;
      min-height: 12em;
      width: 80%;
    }
  }
}