@use "Base";

*{
  margin: 0;
  padding: 0;
}

.app{
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
  overflow-y: hidden;

  background: Base.$background-light;

  font-size: 0.9em;


  /* Hide the default scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }
}

