@use 'Base';

.home{
  &-title{
    margin: 0.4em 1rem;

    font-size: 2.8em;
    font-family: Base.$font-title;
  }

  &-subtitle{
    margin: 0.4em 1rem;

    font-size: 1.4em;
    font-family: Base.$font-subtitle;
  }
}