@use 'Base';

.task-detail{
  height: calc(100vh - 5em);
  overflow-y: auto;
}

.task-config{
  position: relative;

  &__area{
    @include Base.flex_div(row);
    align-items: flex-start;

    &__module{
      flex: 1;
    }
  }
}

.task-param, .task-env, .task-trigger {
  margin: 1em 2em;

  font-size: 1.2em;

  &__label {
    display: inline-block;
    box-sizing: border-box;

    border: 1px solid #ccc;
    border-radius: 2px;
    width: 6em;

    margin: 0.4em 0;

    text-align: center;

    color: aliceblue;
    background-color: Base.$purple_light;
  }

  &__input {
    display: inline-block;
    box-sizing: border-box;
    width: 5em;
    margin: 0.4em 0 0.4em 2em;
    padding: 0 0.2em;
    outline: none;
    text-align: center;
    border: 1px solid black;
    font-size: 1.06em;

    &:focus {
      border: 1px solid Base.$purple_dark;
    }
  }

  &__button {
    display: inline-block;
    box-sizing: border-box;
    width: 12em;
    margin: 1em 0;
    padding: 1em 2em;
    outline: none;
    text-align: center;
    border-radius: 4px;
    border: 0;
    font-size: 1.06em;

    color: aliceblue;
    background-color: Base.$purple_dark;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.task-trigger {
  &__button{
    width: 4em;
    margin: 0.4em 0 0.4em 2em;
    padding: 0 0.2em;

    font-size: 1.06em;


    border: 1px solid Base.$purple_dark;
    color: Base.$purple_dark;
    background-color: transparent;

    &--manual{
      display: block;
      width: 12em;
      margin-left: 0;
    }
  }
}

.task-reset{
  position: absolute;

  bottom: 4em;
  right: 4em;

  color: Base.$purple_dark;

  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}